


// Color palette
$black:                 #000000;
$gray-darker:           #323232;
$gray-dark:             #5A5A5A;
$gray:                  #767676;
$gray-light:            #BEBEBE;
$gray-lighter:          #F0F0F0;
$white:                 #FFFFFF;